Repository FalkenDev/Trainity, changes with the labels that .github/labeler.yml gives for each.
All labels: client: web-mobile, platform: backend, topic: database, type: docs, topic: ci-cd, topic: config

.github/labeler.yml:

# .github/labeler.yml
"client: web-mobile":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**/*"]

"platform: backend":
  - changed-files:
      - any-glob-to-any-file:
          - "backend/**/*"
          - "!backend/v1/models/**/*"
          - "!backend/v1/schemas/**/*"
          - "!backend/v1/documentation/**/*"

# Maps to 'topic: database'
"topic: database":
  - changed-files:
      - any-glob-to-any-file:
          - "backend/v1/schemas/**/*"

# Maps to 'type: docs'
"type: docs":
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - "backend/v1/documentation/**/*"

# Maps to 'topic: ci-cd'
"topic: ci-cd":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - "Dockerfile"

# Maps to 'topic: config'
"topic: config":
  - changed-files:
      - any-glob-to-any-file:
          - "backend/tsconfig.json"
          - "backend/.env.example"
          - "frontend/.env.example"
          - "frontend/vite.config.ts"
          - "frontend/tsconfig.json"
          - "frontend/eslint.config.js"
          - "frontend/.eslintrc.js"
          - "frontend/vite.config.mts"

feat: implement backend structure with Docker support, environment configuration, and workout management modules
  .env
  backend/Dockerfile.api
  backend/src/v1/app.module.ts
  backend/src/v1/dataSource.ts
  backend/src/v1/exercise/exercise.entity.ts
  backend/src/v1/exercise/exercise.module.ts
  backend/src/v1/muscleGroup/muscleGroup.entity.ts
  backend/src/v1/workout/dto/createWorkout.dto.ts
  backend/src/v1/workout/dto/workoutResponse.dto.ts
  backend/src/v1/workout/workout.entity.ts
  backend/src/v1/workout/workout.module.ts
  backend/src/v1/workout/workout.service.ts
  backend/src/v1/workout/workoutExercise.entity.ts
  backend/src/v1/workoutSession/workoutSession.entity.ts
  backend/src/v1/workoutSession/workoutSession.module.ts
  backend/src/v1/workoutSession/workoutSessionExercise.entity.ts
  backend/src/v1/workoutSession/workoutSessionSet.entity.ts
  docker-compose.yml
Labels: platform: backend

feat: implement backend structure with Docker support, environment configuration, and workout management modules
  .env
  backend/Dockerfile.api
  backend/src/v1/app.module.ts
  backend/src/v1/dataSource.ts
  backend/src/v1/exercise/exercise.entity.ts
  backend/src/v1/exercise/exercise.module.ts
  backend/src/v1/muscleGroup/muscleGroup.entity.ts
  backend/src/v1/workout/dto/createWorkout.dto.ts
  backend/src/v1/workout/dto/workoutResponse.dto.ts
  backend/src/v1/workout/workout.entity.ts
  backend/src/v1/workout/workout.module.ts
  backend/src/v1/workout/workout.service.ts
  backend/src/v1/workout/workoutExercise.entity.ts
  backend/src/v1/workoutSession/workoutSession.entity.ts
  backend/src/v1/workoutSession/workoutSession.module.ts
  backend/src/v1/workoutSession/workoutSessionExercise.entity.ts
  backend/src/v1/workoutSession/workoutSessionSet.entity.ts
  docker-compose.yml
Labels: platform: backend

Refactor finishWorkoutSession method to include notes and improve exercise handling; update route to reflect new method name
  backend/v1/models/workoutSessionModel.js
  backend/v1/route/workoutSession.js
Labels: platform: backend

Refactor finishWorkoutSession method to include notes and improve exercise handling; update route to reflect new method name
  backend/v1/models/workoutSessionModel.js
  backend/v1/route/workoutSession.js
Labels: platform: backend

Feat: add EditSetDialog and TimerDialog components for workout session management
  frontend/src/components.d.ts
  frontend/src/components/Session/EditSetDialog.vue
  frontend/src/components/Session/TimerDialog.vue
Labels: client: web-mobile, platform: backend

Feat: add EditSetDialog and TimerDialog components for workout session management
  frontend/src/components.d.ts
  frontend/src/components/Session/EditSetDialog.vue
  frontend/src/components/Session/TimerDialog.vue
Labels: client: web-mobile, platform: backend

Refactor Workout and workoutSession interfaces for consistency and clarity; update string quotes and enhance type definitions
  frontend/src/interfaces/Workout.interface.ts
  frontend/src/interfaces/workoutSession.interface.ts
Labels: client: web-mobile, platform: backend

Refactor Workout and workoutSession interfaces for consistency and clarity; update string quotes and enhance type definitions
  frontend/src/interfaces/Workout.interface.ts
  frontend/src/interfaces/workoutSession.interface.ts
Labels: client: web-mobile, platform: backend

Refactor workoutSession.service.ts for consistency; update string quotes and error messages
  frontend/src/services/workoutSession.service.ts
Labels: client: web-mobile, platform: backend

Refactor workoutSession.service.ts for consistency; update string quotes and error messages
  frontend/src/services/workoutSession.service.ts
Labels: client: web-mobile, platform: backend

Feat: implement WorkoutExerciseCard component for exercise management in session
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: implement WorkoutExerciseCard component for exercise management in session
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: enhance TimerDialog with reset and close functionality; improve button layout and styles
  frontend/src/components/Session/TimerDialog.vue
Labels: client: web-mobile, platform: backend

Feat: enhance TimerDialog with reset and close functionality; improve button layout and styles
  frontend/src/components/Session/TimerDialog.vue
Labels: client: web-mobile, platform: backend

Feat: update workout session model and schema to include notes and RPE for exercises
  backend/v1/models/workoutSessionModel.js
  backend/v1/schemas/WorkoutSessionSchema.js
Labels: platform: backend, topic: database

Feat: update workout session model and schema to include notes and RPE for exercises
  backend/v1/models/workoutSessionModel.js
  backend/v1/schemas/WorkoutSessionSchema.js
Labels: platform: backend, topic: database

Feat: add RPE and notes fields to WorkoutExerciseCard and update related interfaces and session handling
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/interfaces/Workout.interface.ts
  frontend/src/interfaces/workoutSession.interface.ts
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add RPE and notes fields to WorkoutExerciseCard and update related interfaces and session handling
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/interfaces/Workout.interface.ts
  frontend/src/interfaces/workoutSession.interface.ts
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: implement abandonWorkoutSession functionality in backend and frontend
  backend/v1/models/workoutSessionModel.js
  frontend/src/pages/Session.vue
  frontend/src/services/workoutSession.service.ts
Labels: client: web-mobile, platform: backend

Feat: implement abandonWorkoutSession functionality in backend and frontend
  backend/v1/models/workoutSessionModel.js
  frontend/src/pages/Session.vue
  frontend/src/services/workoutSession.service.ts
Labels: client: web-mobile, platform: backend

Feat: add exercise management functionality with delete and add options in WorkoutExerciseCard and Session components
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add exercise management functionality with delete and add options in WorkoutExerciseCard and Session components
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add placeholder for exercise details in WorkoutExerciseCard and update session page comments
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add placeholder for exercise details in WorkoutExerciseCard and update session page comments
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: update TODOs in Session.vue to suggest changing RPE input method
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: update TODOs in Session.vue to suggest changing RPE input method
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add abandonWorkoutSession route to workoutSession API
  backend/v1/route/workoutSession.js
Labels: platform: backend

Feat: add abandonWorkoutSession route to workoutSession API
  backend/v1/route/workoutSession.js
Labels: platform: backend

feat: enhance backend and frontend structure with Docker support, JWT authentication, and improved workout management
  backend/package.json
  backend/src/v1/app.module.ts
  backend/src/v1/auth/auth.controller.ts
  backend/src/v1/auth/auth.module.ts
  backend/src/v1/auth/auth.service.ts
  backend/src/v1/auth/dto/register.dto.ts
  backend/src/v1/dataSource.ts
  backend/src/v1/main.ts
  backend/src/v1/muscleGroup/muscleGroup.controller.ts
  backend/src/v1/seed/seed.ts
  backend/src/v1/strategies/Jwt.strategy.ts
  backend/src/v1/user/user.module.ts
  backend/src/v1/workoutSession/workoutSession.controller.ts
  backend/src/v1/workoutSession/workoutSession.service.ts
  docker/.env
  docker/Dockerfile.api
  docker/Dockerfile.frontend
  docker/docker-compose.yml
  frontend/src/components/Exercise/AddExerciseList.vue
  frontend/src/components/Exercise/EditExercise.vue
  frontend/src/components/Workout/EditWorkout.vue
  frontend/src/components/Workout/WeightAndRepsSettings.vue
  frontend/src/pages/WorkoutDetails.vue
  frontend/src/services/exercise.service.ts
  frontend/src/services/muscleGroup.service.ts
  frontend/src/services/user.service.ts
  frontend/src/services/workout.service.ts
  frontend/src/services/workoutSession.service.ts
  frontend/src/stores/auth.store.ts
  frontend/src/stores/workout.store.ts
  frontend/src/utils/fetchWrapper.ts
  frontend/tsconfig.app.json
Labels: client: web-mobile, platform: backend

feat: enhance backend and frontend structure with Docker support, JWT authentication, and improved workout management
  backend/package.json
  backend/src/v1/app.module.ts
  backend/src/v1/auth/auth.controller.ts
  backend/src/v1/auth/auth.module.ts
  backend/src/v1/auth/auth.service.ts
  backend/src/v1/auth/dto/register.dto.ts
  backend/src/v1/dataSource.ts
  backend/src/v1/main.ts
  backend/src/v1/muscleGroup/muscleGroup.controller.ts
  backend/src/v1/seed/seed.ts
  backend/src/v1/strategies/Jwt.strategy.ts
  backend/src/v1/user/user.module.ts
  backend/src/v1/workoutSession/workoutSession.controller.ts
  backend/src/v1/workoutSession/workoutSession.service.ts
  docker/.env
  docker/Dockerfile.api
  docker/Dockerfile.frontend
  docker/docker-compose.yml
  frontend/src/components/Exercise/AddExerciseList.vue
  frontend/src/components/Exercise/EditExercise.vue
  frontend/src/components/Workout/EditWorkout.vue
  frontend/src/components/Workout/WeightAndRepsSettings.vue
  frontend/src/pages/WorkoutDetails.vue
  frontend/src/services/exercise.service.ts
  frontend/src/services/muscleGroup.service.ts
  frontend/src/services/user.service.ts
  frontend/src/services/workout.service.ts
  frontend/src/services/workoutSession.service.ts
  frontend/src/stores/auth.store.ts
  frontend/src/stores/workout.store.ts
  frontend/src/utils/fetchWrapper.ts
  frontend/tsconfig.app.json
Labels: client: web-mobile, platform: backend

feat: include credentials in login request for cookie-based authentication
  frontend/src/stores/auth.store.ts
Labels: client: web-mobile, platform: backend

feat: include credentials in login request for cookie-based authentication
  frontend/src/stores/auth.store.ts
Labels: client: web-mobile, platform: backend

refactor: simplify JWT extraction from cookies in JwtStrategy and clean up auth store credentials handling
  backend/src/v1/strategies/Jwt.strategy.ts
  frontend/src/stores/auth.store.ts
Labels: client: web-mobile, platform: backend

refactor: simplify JWT extraction from cookies in JwtStrategy and clean up auth store credentials handling
  backend/src/v1/strategies/Jwt.strategy.ts
  frontend/src/stores/auth.store.ts
Labels: client: web-mobile, platform: backend

Refactor: improve code formatting and readability in EditSetDialog, TimerDialog, WorkoutExerciseCard, and Session components
  frontend/src/components/Session/EditSetDialog.vue
  frontend/src/components/Session/TimerDialog.vue
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Refactor: improve code formatting and readability in EditSetDialog, TimerDialog, WorkoutExerciseCard, and Session components
  frontend/src/components/Session/EditSetDialog.vue
  frontend/src/components/Session/TimerDialog.vue
  frontend/src/components/Session/WorkoutExerciseCard.vue
  frontend/src/pages/Session.vue
Labels: client: web-mobile, platform: backend

Feat: add bulk add and remove exercises functionality in workout model and routes
  backend/v1/models/workoutModel.js
  backend/v1/route/workout.js
Labels: platform: backend

Feat: add bulk add and remove exercises functionality in workout model and routes
  backend/v1/models/workoutModel.js
  backend/v1/route/workout.js
Labels: platform: backend

Refactor: streamline exercise selection and improve close functionality in AddExerciseList component
  frontend/src/components/Exercise/AddExerciseList.vue
Labels: client: web-mobile, platform: backend

Refactor: streamline exercise selection and improve close functionality in AddExerciseList component
  frontend/src/components/Exercise/AddExerciseList.vue
Labels: client: web-mobile, platform: backend
